Source: TBX
Version: 0.6-1
Section: Development
Priority: Optional
Maintainer: Alan Buckley <alan_baa@hotmail.com>
Standards-Version: 0.1.0
Licence: Free
Description: Example programs for the TBX C++ library.
 This package installs a TbxExamples folder that contains various examples
 of the use of the TBX C++ library.

Package: TBX-Examples
Recommends: TBX-Dev
